.new__products__main{
    width: 96%;
    min-height: 100vh;
    max-height: auto;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.20);
    background-color: #fcf8f8;
}



.new__products__title{
    font-size: 40px;
    color: #222;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.product__container {
    width: 94%;
    min-height: 100vh;
    max-height: auto;
    /* background-color: gold; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */

}

.product__block__info {
    width: 300px;
    height: 480px;
    border-radius: 15px;
    margin: 30px 20px;
    /* background-color: #7acce6; */
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.10);
    position: relative;
}

.product__block__info:hover {
    box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.30);
    transition: all 1s;

}

.product__sale {
    width: 85px;
    height: 30px;
    border-radius: 10px;
    background-color: #fbc100;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;

}
.product__image{
    width: 240px;
    height: 260px;
}

.product__image>img {
    width: 240px;
    height: 260px;
    margin: 0 30px;
}

.product__mainname {
    display: flex;
    width: 95%;
    height: 25px;

}

.product__mainname>h1 {
    font-size: 18px;
    font-weight: 800;
    width: 190px;
    height: 30px;
    white-space: nowrap;
    margin: 7px 10px;

}

.product__evaluation {
    display: flex;
    color: #fbc100;
}


.product__description{
    width: 95%;
    height: 60px;
    margin: auto;
    font-size: 14px;
    line-height: 0.9;
    padding-top: 10px;
    color: grey;
}


.product__buttons__price {
    width: 95%;
    height: 45px;
    display: flex;
    /* background-color: #fff; */
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    top: 420px;
    left: 7.5px;


}

.product__heart {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    color: #222;
    background-color: gold;
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #fff;


}

.product__price {
    width: 90px;
    height: 45px;
    background-color: gold;
    color: #222;
    display: grid;
    place-items: center;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 800;
    border: 1px solid #fff;

}

.product__price>p {
    padding: 10px;
    cursor: pointer;

}

.product__buy {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 30px;
    color: #222;
    background-color: gold;
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid #fff;

}

.product__buy:hover{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.20);

}
.product__price:hover{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.20);

}
.product__heart:hover{
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.20);

}