.aboutus__main__wrapper{
    width: 96%;
    height: 80vh;
    /* background-color: rgb(44, 60, 212); */
    background-image: url('../../assets/images/waveAU.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-color: #F5F5F5; */
    border-radius: 15px;
    margin: auto;
    margin-bottom: 15px;
    position: relative;
    border-top: 1px solid grey;
box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.63);
position: relative;

}

.abooutus__page__title{
    font-weight: 900;
    letter-spacing: 2px;
    /* color: gold; */
    color: #FB9A1D;
    font-size: 60px;
    position: absolute;
    top: 30px;
    left: 200px;
}

.aboutus_description{
    width: 40%;
    height: 300px;
    /* background-color: green; */
    margin: 0;
    position: absolute;
    top: 200px;
left: 100px;
font-size: 18px;
color:#222;
}



.aboutus__page__img{
    width: 700px;
    height: 700px;
    float: right;
    position: absolute;
    right: 50px;
    top: 20px;


}

.sosheal__media__links{
    position: relative;
    width: 700px;
    height: auto;
    /* background-color: blue; */
    top: 650px;
    left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.media{
    color: #222;
    font-size: 24px;
    /* margin-right: 40px; */

}

.media__icons__t{
    color: rgb(66,159,225);
    font-size: 60px;
}
.media__icons__i{
    color: #405DE6;
    font-size: 60px;

}
.media__icons__f{
    color: rgb(66,159,225);
    font-size: 60px;

}