.liked__main__wrapper{
    width: 96%;
    min-height:  100vh;
    max-height: auto;
     background-color: rgb(248, 142, 20);
     margin: auto;
     border-radius: 15px;
     margin-bottom: 15px;
box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.63);

}